@{ this.ViewData["Title"] = "صفحه نخست"; }

<div class="bg-white text-primary" id="banner">
    @*<partial name="_BublesAndCirclesPrtial" />*@
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <div class="title text-center pt-5">
                    <h1 class="display-2 text-primary">سامانه آزمون</h1>
                    <h4 class="text-primary">به سامانه آزمون سازمان عقیدتی سیاسی انتظامی جمهوری اسلامی ایران خوش آمدید.</h4>
                </div>
            </div>
        </div>
        @(await Component.InvokeAsync("GetActiveQuiz"))
        <div class="card-deck">
            <div class="card col-sm-12 col-md-4 col-lg-4 col-xl-4 rounded">
                <img class="card-img-top" src="~/assets/images/report-icon.png" />

                <div class="card-body text-center">
                    <h4 class="card-title font_W_titr">امکان گزارش گیری با تمام فرمت های رایج</h4>



                </div>

            </div>
            <div class="card col-sm-12 col-md-4 col-lg-4 col-xl-4 rounded">
                <img class="card-img-top" src="~/assets/images/creatQuiz.png" />
                <div class="card-body text-center">
                    <h4 class="card-title font_W_titr">امکان ایجاد آزمون با تعیین سطح دسترسی</h4>



                </div>

            </div>
            <div class="card col-sm-12 col-md-4 col-lg-4 col-xl-4 rounded">
                <img class="card-img-top" src="~/assets/images/filter-flat.png" />
                <div class="card-body text-center">
                    <h4 class="card-title ">امکان ایجاد فیلتر های متنوع</h4>



                </div>

            </div>
        </div>
    </div>
</div>

