@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}<div class="center" style="text-align:center;">
    <h5> شما مجوز دسترسی به لینک انتخاب شده را ندارید.</h5>
    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="Index"><span aria-hidden="true" class="fa fa-home"></span> صفحه اصلی </a>
</div>
